# Trabajo Fin de Grado. Predicción de precios de instancias “spot” en la nube de Amazon

## Prueba con todos los datos

In [1]:
import datetime
import sqlite3
import csv
import sys
import random
import datetime, time
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob; from os.path import expanduser

In [ ]:
# Conectar con la base de datos
with sqlite3.connect("BBDD.db") as connection:
    # Abrimos el csv a insertar los datos
    csvWriter = csv.writer(open("datos.csv", "w"))
    # Creamos el cursor
    c = connection.cursor()
    # Hacemos la consulta
    data = c.execute("SELECT C4_ap_south_1.SpotPrice,C4_ap_northeast_1.SpotPrice FROM C4_ap_northeast_2 WHERE C4_ap_south_1.Description = 'Windows' AND C4_ap_northeast_1.Description = 'Windows'") # Ordenamos los datos desde el más reciente al menos
    # Insertamos los datos en el dataset
    rows = data.fetchall()
    csvWriter.writerows(rows)

# Cerrar la conexión siempre
connection.close()

In [6]:
df = pd.read_csv("datos.csv")
df.head(5)

C:\Users\Luis\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   0.4712  SpotPrice
0  0.4712  SpotPrice
1  0.4712  SpotPrice
2  0.4712  SpotPrice
3  0.4712  SpotPrice
4  0.4712  SpotPrice

In [50]:
import statistics as stats
import math

def gini(list_of_values):
    mean = (stats.mean(list_of_values)) # Calculamos la media de todos los valores de los precios
    nvalues = len(list_of_values) # En nvalues tenemos el número de valores totales
    sumvalues = 0
    for value1 in list_of_values: # Para cada uno de los valores
        for value2 in list_of_values: 
            sumvalues += math.fabs(value1 - value2) # Sumamos la diferencia de cada par
    result = sumvalues/((2*(nvalues**2))*mean) # Como resultado final dividimos la suma entre 2 por el número de valores al cuadrado por la media
    return result

In [141]:
gini_coefficient = (gini(df['0.1285']))
print("El coeficiente de Gini para el último mes es de:",gini_coefficient)

El coeficiente de Gini para el último mes es de: 0.291159840893